<script type='text/javascript'>
$(function() {
  Dashing.widget_base_dimensions = [300, 360]
});
</script>


<% content_for(:title) { "Nyanstagram dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="user" data-view="User" data-title="ユーザー数"></div>
      <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Image" data-image="/logo.png"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="search_ranking" data-view="Ranking" data-unordered="true" data-title="検索TOP10" data-moreinfo="# of times said around the office" style="background-color:#96bf48;"></div>
      <i class="icon-eye-open icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="favorite_ranking" data-view="Ranking" data-unordered="true" data-title="お気に入りTOP10" data-moreinfo="# of times said around the office" style="background-color:#ef8f9c;"></div>
      <i class="icon-heart icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="access" data-view="Access" data-title="アクセス数" style="background-color:#869;"></div>
      <i class="icon-user icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="reward" data-view="Reward" data-title="先月の収益" style="background-color:#ff9618;"></div>
      <i class="icon-trophy icon-background"></i>
    </li>
  </ul>
  <center><div style="font-size: 12px"></div></center>
</div>
